<app-header></app-header>

<div class="contentList">
    <div>
        <h1>Chats</h1>
    </div>
    <div class="BodyList">
        <div *ngIf="userList.length>0" style="width: 100%;">
            <div *ngFor="let user of userList" class="userRow" (click)="clickChat(user.id)">
                <div style="display: flex; flex-direction: row; width: 30%; justify-content: start;">
                    <img [src]="user.img==''?  'http://localhost:4000/default.jpg': host + '/' +user.img" alt="user">
                    <div style="width: 10px;"></div>
                    <div style="display: flex; flex-direction: column;  margin-top: -15px; ">
                        <h4>{{ user.firstName}} {{ user.lastName }}</h4>
                        <p style="margin-top:-15px; font-size: 15px;"> {{user.active? 'Disponible':'No disponible' }}</p>
                    </div>
                </div>


                <p style="margin-top:-15px; font-size: 15px;">{{date | date:'dd/MM/yyyy'}}</p>

            </div>

        </div>
        <div *ngIf="userList.length==0">

            <h1>No hay usuarios para empezar a conversar</h1>
        </div>
    </div>

</div>

<app-footer></app-footer>